<!-- <h1 *ngIf="authService.user | async">
  Welcome {{ (authService.user | async)?.email }}!
</h1> -->
<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center">Employee</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="loginForm" role="form">
            <mat-form-field appearance="outline" class="form-field">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Email is required</mat-error
              >
              <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
                Email must follow this pattern!
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                formControlName="password"
              />

              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <h6 *ngIf="loginError" class="err-msg">Wrong Email/Password</h6>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="login-button"
              (click)="login()"
            >
              Sign In
            </button>

            <button mat-raised-button class="login-button">
              Login with Google
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Register">
        <mat-card-content>
          <form action [formGroup]="signupForm" role="form">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                formControlName="email"
              />

              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                formControlName="password"
              />

              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <h6 *ngIf="signUpError" class="err-msg">
              Sorry! Unable to Register.
            </h6>

            <button
              mat-raised-button
              color="primary"
              class="login-button"
              (click)="signup()"
            >
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
